.inside
  %h1 Quote
  = image_tag('request_a_quote_page.jpg', :class => "picture_page")
  %p Just want the numbers? No Problem.  Please fill out the information below and in 24 Hours we will have the three best options put together for you in a spreadsheet and emailed over.  If we have any questions along the way we will reach out to you.  Please be as specific as possible.

  = render 'form'