.inside
  %h1 Thank you!
  %p We have received your message and want to thank you. Your communication is important to us.

  %p Someone will review your message and contact you shortly.

  %p Thanks again for your interest in Truthcomm.com.

  %strong Sincerely,

  %p Truthcomm.com