#keymenu
  clear: both
  padding: 20px 0 0 38px
  overflow: auto
  .container
    float: left
    width: 235px
    img
      float: left
      width: 64px
    .content
      float: left
      width: 150px
      a
        font-size: 15px
        padding: 0 0 0 10px
        text-decoration: none
      p
        padding: 0px 5px 5px 10px
#keycontent
  overflow: hidden
  .about
    float: left
    width: 400px
  .quote
    float: left
    width: 400px
    margin: 40px