#header
  background: #1b3069
  height: 100px
  margin: 0
  padding: 0
  #inside_header
    width: 980px
    margin: 0 auto
    .logo
      padding: 20px 0 0 0


#container
  width: 980px
  margin: 0 auto
