.inside
  %h1 About Us
  = image_tag('about.jpg', :class => "picture_page")
  %p
    Truth Communications was founded on the simple, but not so common principal that customers are the highest priority in any business.  We were tired of the traditional process involved in communication sales.  Often, we find customers whose needs were not met because of a lack of experience by the direct rep, or a complete disregard for the customer because the sales rep only represented one company and didn't want to lose the sale.
  %p
    We want to show customers the true cost of their telecomm solutions.  The name Truth was driven from the idea that we can show customers the Truth about their bills, services and fees.  Quite often fees and surcharges are left off quotes, leaving decision makers in the dark and ultimately frustrated.  At Truth Communications full disclosure is the only policy.
  %p
    Our staff has over 31 combined years of experience working in the communications business.  Our experience includes high level management, sales, operations, and implementation.  Our cumulative experience gives us a competitive advantage, and allows us to give our customers the best overall service, support and pricing for their communication needs.
  %p
    Our customers can expect quick responses and resolutions.  We make sure that our customers are treated with the highest level of respect from both our staff and the carriers that we represent.  We look at every opportunity objectively and make sure that the Truth is revealed.
