.inside
  %h1 About Us
  = image_tag('about.jpg', :class => "picture_page")
  %p
    Truth Communications was founded on the principal that customers are the highest priority in any business.  Our customer’s can expect the highest level of customer service.  We make sure that our customers are treated with the highest level of respect.  We look at every opportunity objectively and make sure that the Truth is revealed.
  %p
    We started Truth communications because we were tired of the traditional process involved in communication sales.  Often we would find customers whose needs were not met because of a lack of experience by the direct rep or a complete disregard for the customer because the sales rep only represented one company and didn't want to lose the sale.
  %p
    One of the big motivators in starting a brokerage was to show customers the true cost of each solution.  The name Truth was driven from the idea that we would show the Truth about the bill.  Telecom fees and surcharges are often left off the quotes that decision makers use to make informed decisions.  At Truth Comm full disclosure is the only policy.  Our staff has over 31 combined years of experience working in the communications business.  Our experience runs from high level management of carrier sales forces to operations and implementation.  The experience we have gained over the years gives us an edge over the competition.  The relationships that we have in the business allow us to give our customers the best rates and support for their communication needs.

  %h2 Why use a broker page
  *use info from marketing V6*
  Also make 10 reasons to use an agent PDF downloadable
