.inside
  %h2 So what exactly is the difference between working with a broker versus working with a direct sales rep?  Let’s break it down…
  %strong Information
  %ul
    %li Direct Sales Rep:  Provides you with information on the specific company they work for. They only explore the options their company offers, ultimately limiting your options.
    %li Broker:  Supplies unbiased information regarding the various options available in the market from multiple carriers.  Brokers allow you to explore the positives and the negatives of each company, without having to meet with each one individually. You have the chance to see which carrier would best meet your business needs.
  %strong Relationship/Compensation
  %ul
    %li Direct Sales Rep:  Compensated by a one-time bonus for every new sale.  They are not penalized if you aren’t satisfied with the service you get.
    %li Broker:  Carriers pay brokers a small percentage of the monthly bill, for every month that the business pays.  It is important to the broker that you are satisfied with your service and continue to pay your bill, which is why you’ll get additional support that sales reps won’t provide.
  %strong Knowledge
  %ul
    %li Direct Sales Rep:  Provides you with information on one company. This limits your ability to compare what is available in your market.
    %li Broker:  Represents a variety of companies and has a clear understanding of what each carrier has to offer to a business.
  %strong Time
  %ul
    %li Direct Sales Rep:  Requires you to sit through multiple meetings with vendors, obtain pricing quotes and service comparisons on your own. While it sounds straight forward, the process can be very time consuming.
    %li Broker:  Understands that your time is valuable, so we spend the time meeting with carriers to fit your needs.  Instead of having multiple meetings with multiple vendors, we present the best possible solutions for you in one meeting.
  %strong Support
  %ul
    %li Direct Sales Rep:  Provides support through a customer care department.  Most of the time, this forces you to maneuver through any issues on your own.
    %li Broker:  Bridges the gap between customers and the service department of the carriers.  We get involved in the process of issue resolution, should a service problem occur.
  %strong Cost
  %ul
    %li Direct Sales Rep:  Can provide pricing information for their company only, forcing you to do your own comparisons.
    %li Broker:  Provides you with a comparison of multiple companies from a pricing perspective, al- lowing you to look at what company best meets your business needs.
  %strong Bottom Line
  %p Brokers exist to make your job as easy as possible…we know that you’re busy running your own business, and seldom have the time or energy to spend on this.  Typically the only reason people don’t work with a broker is simply because they’re unaware that a service like this exists.
  = link_to 'More info on why to use agents', 'pdf/10-reasons-to-use-agents.pdf'