.inside
  %h1 Energy Services
  = image_tag('energy_services.jpg', :class => "picture_page")
  %p
    %strong Energy services from a telecom broker?  Yes!  The two fields are actually very similar when you live in a deregulated state.
  %strong How it works:
  %p If you buy your energy directly from the distributor, they give you the default rates for that current time period and adjust the cost according to your usage.  In this environment, you are usually paying a much higher rate than is necessary.  Competitive energy companies can buy the energy for you at typically a lower cost.  They analyze your usage over your last 12 month period and calculate how much energy you actually need.  They can then go to the market and purchase what you need at a certain rate and provide that to the distributor.  What this means to you is your per kilowatt rate can be much lower, saving you money. 
  %p All energy companies are the same right?  Incorrect.  Some companies just sell you a low rate for your energy.  If you dig a little deeper though, you can find companies that not only lower your rate, but also look for ways to reduce the energy that you need.  There are programs that can actually earn you money to help reduce your cost!  This is good for your bottom line, and also helps the environment.  You can pat yourself on the back twice for being a hero to your company and saving the earth at the same time!
  %p All energy companies are the same right? Incorrect some companies just sell you a low rate for your energy.  If you look a little deeper you can find companies that not only lower your rate but also look for ways to reduce the energy that you need.  There are programs out there that can actually earn you money to help reduce your cost!  This is good for your bottom line but also helps the environment.  You can pat yourself on the back twice being a hero to your company for lowering cost and saving the earth at the same……look at you.
  %strong The process:
  %p Simply give us a copy of your current contract and last energy invoice, and we will do the rest for you.  The billing information is simply adjusted, making you a happy camper. And the best part is that there’s no installation process!
  
