.inside
  %h1 Services
  %p
    %strong What you can expect:  
    The first item that we take care of is we measure where you are with you current carrier.  You can provide us with the information or we can do it for you.  The dates of the contracts, amount of usage, number of lines, current bandwidth and current pricing.
  %p
    After we figure out your current situation we can take on what you are looking for.  If you already know what you want, great, you make our job a little easier.  If not, don’t worry, we find a lot of the people that we talk to have an idea of what they want but can use a little guidance.  You give us a general idea and we come up with plausible concepts that can be implemented.
  %p
    Carrier shopping then becomes the fun part.  Most organizations would look at a few different options.  We will look at them all. Typically the information will go out to 6-12 different carriers to see who comes back with the best overall fit.  We compile the information into a simple easy to read spreadsheet that discloses all the fees so you know what the bottom line will be.  We will give you all of the information about each carrier both the positives and negatives.  You will be able to make a decision and feel confident that you did you do diligence.
  %p
    Done….of course not.  You might be, but our work is just getting started.  We will coordinate with all of the vendors that are involved and make sure that everybody knows what the plan is.  We make sure all of the numbers and little details are addressed so you don’t have to.  Your responsibility will be to open the doors when we tell you technicians are coming.  The install process will be we coordinated and executed.
  %p
    After all is said and done we take one last step to ensure your satisfaction.  We do a first bill review with you to make sure your expectations were correct.  If they are not then we will fix them.  Going forward we are your team to handle any issues regarding you communications services.
  %p
    The best part of service is that it is free! Yes we said free.  Our services are paid for by the carriers. We get paid a monthly percentage of your bill.  Now you’re probably thinking does that mean that we are going to have to pay more? No,  in the monthly fee the carriers build in what it costs to market their product whether it’s a direct rep or a third party vendor.  Why charge customers for what you are saving them? That seems like a self defeating concept.  There are consultants in this business that say they have to charge you a fee because they don’t take money from the carriers to stay neutral.  Here’s an idea create an environment where all of the compensation is equal so your opinion is not influenced.  That is exactly what we have done.  Now most people are going to say “It’s impossible for them to all be exactly equal.” Well good point, but in reality they might fluctuate one percentage point or two but in our opinion that is not a large enough factor to ruin your reputation by recommending something that is going to give you a few extra dollars a month.  If you’re curious as to what we make off each carrier just ask us we will tell you.

  %h2 Services include:
  %ul  
    %li Bill Review
    %li Billing Corrections/Credits
    %li Carrier Shopping
    %li Equipment Survey 
    %li Implementation Management
    %li Troubleshooting
    %li Customer Service
