.inside
  %h1 What you can expect from us…
  %strong STEP 1:  Evaluation of current carrier
  %p The first item we address is measuring where you are with your current carrier.  You can provide us with the information, or we can find it for you.  We simply need the dates of the contract(s), amount of usage, number of lines, current bandwidth, and current pricing.
  %strong STEP 2:  Needs analysis
  %p After we figure out your current situation, then we learn more about what you are looking for.  If you already know exactly what you want, great!  If not, don’t worry.  We find a lot of people we talk to have an idea of what they want, but would still like our expertise and guidance.  After we evaluate your needs and wants, we’ll come up with plausible solutions that can be implemented.
  %strong STEP 3:  Shop around
  %p Carrier shopping then becomes the fun part for us!  Most organizations only look at a few different options…we look at them all.  The information we gathered from you will go out to all the carriers who are able to support your telecom needs.  We see who comes back with the best overall fit, at the best overall cost, and compile the information into a simple and easy-to-read document.  Based on our experience and your specific telecom needs, we will detail the pros and the cons for each carrier, as well as any other relevant information you’ll need to weigh your options.  Furthermore, all the fees are disclosed up front so you know what the bottom line will be.  You will be able to make a confident decision knowing you did your due diligence.
  %strong STEP 4:  Implementation and installation
  %p Done!  Of course not…you might be done, but our work is just getting started.  We kick into high gear, coordinating and communicating with vendors to make sure the plan is smoothly executed.  We make sure all of the little details are handled so you don’t have to worry, or take time away from your business.  We do everything we can to make sure the installation process happens so efficiently that it won’t disrupt your work.  Your responsibility is simply to open the doors for the technicians!
  %strong STEP 5: Follow Up
  %p After all the pieces are in place, we take one last step to ensure your satisfaction.  We do a first bill review with you to make sure your expectations were met.  If they were not, then we’ll take the appropriate steps to fix them.  We will continue to be your support team to handle any telecom questions or issues that may come up.
  %p
    %stong The best part of our service is that it is free!
    Yes, we said free.  Our services are paid for by the carriers that we place the services through.  So, how do we get paid?  The carrier simply pays us a monthly percentage of your bill.  Now, you’re probably thinking “Does that mean that we’ll end up paying more?”  And the answer is, No!  Carriers factor in a monthly fee for marketing their product, whether that’s through a direct rep who works for that particular company, or a third party vendor such as TruthComm.  If you’re curious to learn more about how we get paid by saving you money, simply give us a call!  We provide full disclosure.

  %h2 Services include:
  %ul  
    %li Bill Review
    %li Billing Corrections/Credits
    %li Carrier Shopping
    %li Equipment Survey 
    %li Implementation Management
    %li Troubleshooting
    %li Customer Service
